@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
}

html, body {
  position: relative; /* 있어도 되고 없어도 무관 */
  overflow-x: hidden; /* 필요 시 추가 */
}

html {
  font-size: 62.5%;
}

body {
  background: #0a0a0a; /* 어두운 배경으로 기본 설정 */
}


.container {
  width: 100%;
  height: 100vh;
  background: transparent; 
  display: grid;
  place-items: center;
  position: relative; 
  overflow: hidden;  
  place-items: center;
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 45%;
  }
}




@keyframes wiggleLight {
  0% {
    transform: translate(-20%, -20%) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(-21%, -19%) scale(1.01) rotate(0.2deg);
  }
  50% {
    transform: translate(-20%, -20%) scale(1) rotate(0deg);
  }
  75% {
    transform: translate(-19%, -21%) scale(0.99) rotate(-0.2deg);
  }
  100% {
    transform: translate(-20%, -20%) scale(1) rotate(0deg);
  }
}

.animate-wiggle-light {
  animation: wiggleLight 6s ease-in-out infinite;
}






@keyframes spotlightSway {
  0% {
    rotate: 0deg;
  }
  20% {
    rotate: 0deg;
  }
  40% {
    rotate: 5deg;
  }
  60% {
    rotate: -5deg;
  }
  80% {
    rotate: -10deg;
  }
  100% {
    rotate: 10deg;
}
}




@keyframes spotlightPulse {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    opacity: 3;
  }
  30% {
    opacity: 4;
  }
  40% {
    opacity: 5;
  }
  50% {
    opacity: 0.9;
  }
  60% {
    opacity: 3;
  }
  70% {
    opacity: 2;
  }
  80% {
    opacity: 3;
  }
  90% {
    opacity: 5;
  }
  100% {
    opacity: 3;
  }
}




.animate-spotlight-motion {
  animation:
    spotlightSway 10s ease-in-out infinite,
    spotlightPulse 5s ease-in-out infinite;
}